@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: Roboto;
    
}

body {
    background-color: #999999;
    max-width: 1026px;
    margin: auto
    
}
.content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.Pickers {
    display: flex;
    justify-content: space-around;
    padding: 10px
}
.gridBorder {
    border: 3px solid black;
    width: 1024px;
    height: 1024px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
}
button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 3px;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline 0.5s ease;
  border-radius: 4px;
}

.buttons button {
    width: auto;
}

button:hover {
  outline: 2px solid #555;
}

button.selected {
  outline: 2px solid #000;
}

a {
    color: #1111BB;
    text-decoration: none;
}

.customColor {
    background: red;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% { background-color: red; }
  20% { background-color: orange; }
  40% { background-color: yellow; }
  60% { background-color: green; }
  80% { background-color: blue; }
  100% { background-color: violet; }
}

footer {
    font-size: 10px;
    display: flex;
    justify-content: space-around;
}